html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: .04rem;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.main-container,
.second-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #E6F1F5;
}

.second-container {
  background-color: #0064a4;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-full {
  width: 100%;
}

.col-sm-half {
  width: 50%;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  background-color: #222222;
}

.uci-logo-container {
  padding: 1.5rem 1rem;
}

.cpr-container {
  background-color: #1b3d6d;
  color: white;
  padding: 1.5rem 1rem;
}

.airway-container {
  padding: 1.5rem 0.5rem;
}

.survey-container {
  padding: 3.5rem 1.2rem;
  background-color: #0064a4;
  color: white;
}

.about-container {
  background-color: #1b3d6d;
  padding: 1.5rem 1.2rem;
}

/* LG MEDIA */
/* 560-666 */
/* 666-full size */

@media only screen and (min-width: 560px) {
  .main-container,
  .second-container {
    max-width: 1200px;
  }

  .col-lg-half {
    width: 50%;
  }

  .col-lg-full {
    width: 100%;
  }

  .nursing-big-logo {
    width: 30%;
  }

  .small-logo {
    width: 30%;
  }

  .survey-lg-par {
  width: 80%;
  }

  .col-lg-third {
  width: 33%;
  }

  .airway-section {
    padding: 0 1rem;
  }

  .bot-lg-links {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .profile-pic-v2 {
    width: 20%;
    min-width: 20%;
    object-fit: cover;
  }

  .header-title {
    margin: 1rem;
    margin-left: 5rem;
    color: white;
    cursor: pointer;
  }

  .primary-navigation {
    margin-right: 3rem;
  }
}

/* NAVBAR MEDIA */

@media only screen and (max-width: 560px) {
  .primary-navigation {
    --gap: 2em;
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;
    flex-direction: column;
    padding: min(30vh, 5rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    z-index: 9000;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    background-color: transparent;
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
    font-weight: 700;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../images/xmark-solid.svg");
  }
