html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: Lato, sans-serif;
  font-weight: 100;
  letter-spacing: 0.0625em;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.main-container,
.about-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #e6f1f5;
}

.about-container {
  background-color: #0064a4;
  margin-top: 0;
}

.educational-link-container {
  height: 800px;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-sm-full {
  width: 100%;
}

.col-sm-half {
  width: 50%;
}

.col-sm-one-fifth {
  width: 20%;
}

.col-sm-three-fifths {
  width: 60%;
}

.uci-logo-container {
  padding: 1.5rem 1rem;
  margin-top: 4.5rem;
}

.cpr-container {
  background-color: #0064a4;
  color: white;
  padding: 1.5rem 1rem;
}

.airway-container {
  padding: 1.5rem 0.5rem;
}

.survey-container {
  padding: 3.5rem 1.2rem;
  background-color: #0064a4;
  color: white;
}

.info-container {
  background-color: #1b3d6d;
  padding: 1.5rem 1.2rem;
}

@media only screen and (min-width: 700px) {
  .main-container,
  .about-container {
    max-width: 1000px;
  }

  .col-lg-half {
    width: 50%;
  }

  .col-lg-full {
    width: 100%;
  }

  .nursing-big-logo {
    width: 30%;
  }

  .small-logo {
    width: 30%;
  }

  .survey-lg-par {
    width: 80%;
  }

  .col-lg-third {
    width: 33%;
  }

  .airway-section {
    padding: 0 1rem;
  }

  .bot-lg-links {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
  }

  .primary-navigation {
    margin-right: 3rem;
  }

  .border-top {
    border-style: none;
  }

  .cpr-image {
    object-fit: fill;
    width: 100%;
    height: 350px;
    padding-bottom: 0.5rem;
  }

  .ua-image,
  .la-image {
    object-fit: fill;
    width: 100%;
    height: 300px;
    padding-bottom: 0.5rem;
  }
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  #header,
  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    color: #ffd200;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
