hr {
  border: rgba(211, 211, 211, 0.541) 1px solid;
  margin: 1.3rem 0;
}

h1,
h2 {
  font-family: Merriweather, serif;
  text-align: center;
  line-height: normal;
  word-spacing: 2px;
  letter-spacing: 2px;
}

h3,
h4,
h5 {
  margin: 0;
  color: white;
}

a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  letter-spacing: 0;
}

nav a {
  text-decoration: none;
  color: #ffd200;
  font-size: 1.2rem;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

a:visited {
  color: #ffd200;
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 100ms;
}

.airway-link {
  color: #0064a4;
}

.airway-link:visited {
  color: #0064a4;
}

#header a:hover {
  text-decoration: none;
}

/* NAVBAR */

/* NAVBAR */

.header-title {
  color: #ffd200;
  cursor: pointer;
}

.header-title:hover {
  color: white;
}

header {
  background-color: #222;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: -3px;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background-color: #222;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 300ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

/* LIST STYLING */

/* LIST STYLING */

ol {
  max-height: 180px;
}

ol.overflow {
  overflow-y: auto;
}

.cpr-text-wrapper > p.text-bold {
  margin: 1rem 0 0;
}

.cpr-text {
  margin: 0 0 1.2rem;
}

.main-ol {
  padding: 0;
  margin-bottom: 1rem;
}

.airway-list {
  padding: 0;
  padding-left: 1.4rem;
}

.airway-list-items {
  padding: 0;
  padding-left: 1.4rem;
}

/* LOGO STYLING */

/* LOGO STYLING */

.small-logo {
  width: 30%;
}

.nursing-big-logo {
  width: 80%;
}

/* LINKS STYLING */

/* LINKS STYLING */

.survey-link,
.protocol-link,
.footer-link {
  color: #ffd200;
}

.fa-envelope,
.fa-linkedin {
  color: #1b3d6d;
}

.fa-envelope:visited,
.fa-linkedin:visited {
  color: #1b3d6d;
}

.fa-envelope:hover,
.fa-linkedin:hover {
  color: #c6beb5;
}

i {
  font-size: 1.3rem;
  padding: 0 0.2rem;
}

.cpr-protocol-link {
  padding-bottom: 0.5rem;
}

.bottom-links {
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.educational-links {
  color: #1b3d6d;
}

.educational-links:visited {
  color: #1b3d6d;
}

.carrot::after {
  content: ">";
}

/* CAROUSEL */

/* CAROUSEL */

/* CAROUSEL */

.dot-container > i {
  padding: 0.5rem;
  font-size: 1rem;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 2rem;
  cursor: pointer;
}

.dot-box {
  padding: 1rem;
}

.dot {
  cursor: pointer;
  font-size: 1.5rem;
}

.protocol-image {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.ua-image,
.la-image {
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.image-title-wrapper {
  padding: 0.5rem 0.7rem;
}

h3.image-title2,
h3.image-title3 {
  text-align: center;
  color: black;
}

/* OTHER STYLING */

/* OTHER STYLING */

.air-content {
  line-height: 1;
}

.circle-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 3px solid #ffd200;
}

.address-section > p,
.team-member > p {
  margin: 0;
  line-height: 1;
  font-size: 0.8rem;
  color: white;
}

.team-intro {
  line-height: 1.6;
}

.team-member > p {
  margin: 0 2rem;
  padding: 0 1rem;
  padding-bottom: 0.7rem;
}

.team-member {
  padding: 1rem;
}

.position-title {
  font-style: italic;
  padding-bottom: 0.7rem;
}

.project-info {
  margin-top: 1rem;
}

.project-info > p {
  margin: 0;
  font-size: 0.8rem;
}

/* FOOTER SECTION */

/* FOOTER SECTION */

.footer {
  margin-top: 0.5rem;
  line-height: normal;
}

.footer-underline {
  width: 100%;
  height: 1px;
  background-color: #6a6f72;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
}

/* UTILITY CLASSES */

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 400;
}

.text-normal {
  font-weight: 300;
}

.text-center {
  text-align: center;
  margin: auto;
}

.member-description {
  text-align: start;
}

.padding-bottom {
  padding-bottom: 0.6rem;
}

.text-white {
  color: white;
}

.about-underline {
  border-bottom: 1px solid #f7eb5f;
  padding: 0.7rem 0;
  margin-bottom: 2rem;
  width: 90%;
}

.border-top {
  border-top: 1px solid lightgray;
}
