hr {
  border: rgba(211, 211, 211, 0.541) 1px solid;
  margin: 1.3rem 0;
}

h1,
h2 {
  font-family: 'Merriweather', serif;
  text-align: center;
  line-height: normal;
  word-spacing: 2px;
  letter-spacing: 2px;
}

h3,
h4,
h5 {
  margin: 0;
  color: white;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  letter-spacing: 0;
}

a:hover {
  text-decoration: underline;
}

.team-member > p > a:visited {
  color: #ffd200;
}

.header-title {
  margin: 1rem;
  padding-left: 1rem;
  color: white;
  cursor: pointer;
}


/* NAVBAR */
/* NAVBAR */

.flex-nav {
  display: flex;
  gap: var(--gap, 1rem);
}

li {
  letter-spacing: 0.0625em;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0 0% 0% / 0.75);
}

.primary-navigation a {
  text-decoration: none;
  /* color: #989898; */
  color: white;
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 50% / 0.3);
    backdrop-filter: blur(1rem);
  }

  .primary-navigation a {
    color: white;
    text-decoration: none;
  }
}


.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: .3em;
}

/* LIST STYLING */
/* LIST STYLING */

.main-ol {
  padding: 0;
  margin-bottom: 0;
}

.airway-list {
  padding: 0;
  padding-left: 1.4rem;
}

.airway-list-items {
  padding: 0;
  padding-left: 1.4rem;
}

/* LOGO STYLING */
/* LOGO STYLING */

.small-logo {
  width: 30%;
}

.nursing-big-logo {
  width: 80%;
}

/* LINKS STYLING */
/* LINKS STYLING */

.protocol-link {
  color: #ffd200;
}

.survey-link {
  color: #0064a4;
}

.airway-link {
  color: #0064a4;
}

.footer-link {
  color: #ffd200;
}

.cpr-protocol-link {
  padding-bottom: 0.5rem;
}

.bottom-links {
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.team-member > a {
  color: #0064a4;
}

.carrot:after {
  content: ">";
}

/* OTHER STYLING */
/* OTHER STYLING */

.protocol-image {
  object-fit: contain;
  width: 100%;
  height: 200px;
}

.profile-pic,
.profile-pic-v2 {
  border-radius: 100%;
  border: 3px solid #ffd200;
  width: 40%;
  object-fit: contain;
}

.address-section > p,
.team-member >p {
  margin: 0;
  line-height: 1;
  font-size: 0.8rem;
  color: white;
}

.team-member {
  padding: 1rem;
}

.project-info {
  margin-top: 1rem;
}

.project-info > p {
  margin: 0;
  font-size: 0.8rem;
}

.airway-section {
}

/* FOOTER SECTION */
/* FOOTER SECTION */

.footer {
  margin-top: 0.5rem;
  line-height: normal;
}

.footer-underline {
  width: 100%;
  height: 1px;
  background-color: #6a6f72;
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
}

/* UTILITY CLASSES */
/* UTILITY CLASSES */

.text-upper {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 400;
}

.text-center {
  text-align: center;
  margin: auto;
}

.padding-bottom {
  padding-bottom: 0.6rem;
}

.text-white {
  color: white;
}

.about-underline {
  border-bottom: 1px solid #f7eb5f;
  padding: 0.7rem 0;
  margin-bottom: 2rem;
  width: 90%;
}

.hacky {
    margin-top: 2.3rem;
}
